<h1>
	Good bye, my little friend, be happy!
</h1>
<p>
	Was glad to see you!=)
</p>
<p>
	Сказать <%= link_to "здравствуй", say_hello_path %>!
</p>
<p>Folder's files list</p>
<ul>
<%for file in @files%>
<li><%= file%></li>
<%end%>
</ul>